.add-listp {   /*btn agregar lista*/
    background: rgb(56, 56, 224);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-top: 40px;
    border-radius: 4px;
}

#list-name-input {  /*INPUT*/
    width: 500px;
    height: 35px;
    border-radius: 4px;
    border-color: #ccc;
    margin: 8px;
    
}

.task-list { /* CONTENEDOR DE lsta INVIDIDUAL*/
    width: 260px;
    height: 500px;
    background: #e6e6e6;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    color: #414141;
    overflow-y: auto; /* Agrega scroll si el contenido es muy largo */
    word-break: break-word;
    
}



.list-header { /*HEAD DE LA LISTA*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.list-categoria { /*BORRAR LISTA*/
    display: flex;
    margin-top: 10px;
    align-items: left;
}



.delete-list { /*BORRAR LISTA*/
    background:  rgb(202, 28, 28);
    color: white;
    border-radius: 2px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.category-select { /*SELECTOR DE CATEGORIA DENTRO DE LA LISTA*/
    width: 100%;
    padding:4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}

.task-input { /*EL INPUT DE CREAR TAREA DENTRO DE LA LISTA*/
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    
}

.add-task { /*BTN DE AGREGAR TAREA*/
    background:rgb(56, 56, 224);
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10PX;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 16px;
    border-radius: 4px;
}



.task-items { /*Este es el contenedor que contiene los contenedores de todas las tareas individuales de una lista*/
    list-style: none;
    padding: 0;
    
}

.task-items li {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: block; /* Asegura que el texto ocupe toda la línea */
    word-break: break-word; /* Fuerza el corte de palabras largas */
    overflow-wrap: break-word; /* Permite que el texto se ajuste */
    white-space: normal; /* Permite saltos de línea */
   
    max-width: 100%; /* Evita que se desborde */
}

.delete-task {
    background: rgb(202, 28, 28);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    width: 20px;
    height: 22px;

}
.task-text { /*Este es el contenedor del texto de la tarea*/

    flex: 1; /* El texto ocupará todo el espacio disponible */
    padding: 8px;
    background-color: #e6e6e6;
    
}

.buttons-container {
    width: 100%;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 10px;
}

.delete-button-container {
    display: flex;
    justify-content: flex-end; /* Alinea el botón de eliminar a la derecha */
}

.hecho-button-container {
    display: flex;
    justify-content: flex-end; /* Alinea el botón de eliminar a la derecha */
}

.hecho-task {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Separa el botón del texto */
    border-radius: 4px;
    padding: 4px;
    width: 20px;
    height: 22px;

}



/* Contenedor del selector de color y su texto */
.color-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

/* Texto "Color de fondo" */
.color-label {
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}

/* Estilo del selector de color */
.color-picker {
    cursor: pointer;
}

.custom-color-picker-container {
    border: 1px;
    border-radius: 5px;
    display: inline-block;
}
