body {
    font-family: Arial, sans-serif;
}


.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

#lists-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.task-list {
    width: 300px;
    height: 500px;
    background: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
   
    overflow-y: auto; /* Agrega scroll si el contenido es muy largo */
    word-break: break-word;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-list {
    background:  rgb(202, 28, 28);
    color: white;
    border-radius: 2px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.task-input {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
}

.add-task {
    background:rgb(56, 56, 224);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 16px;
    border-radius: 2px;
}

.task-items {
    list-style: none;
    padding: 0;
}

.task-items li {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: block; /* Asegura que el texto ocupe toda la línea */
    word-break: break-word; /* Fuerza el corte de palabras largas */
    overflow-wrap: break-word; /* Permite que el texto se ajuste */
    white-space: normal; /* Permite saltos de línea */
   
    max-width: 100%; /* Evita que se desborde */
}

.delete-task {
    background: rgb(202, 28, 28);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Separa el botón del texto */
    border-radius: 2px;

}
.task-text {
    flex: 1; /* El texto ocupará todo el espacio disponible */
    padding-right: 10px; /* Espacio entre el texto y el botón */

}

.delete-button-container {
    display: flex;
    justify-content: flex-end; /* Alinea el botón de eliminar a la derecha */
}

.add-listp {
    background: rgb(56, 56, 224);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 16px;
    border-radius: 2px;
}

/* Contenedor del selector de color y su texto */
.color-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

/* Texto "Color de fondo" */
.color-label {
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}

/* Estilo del selector de color */
.color-picker {
    cursor: pointer;
}

.custom-color-picker-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}