body {
    font-family: Arial, sans-serif;
}


.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

#lists-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.task-list {
    width: 300px;
    height: 500px;
    background: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-list {
    background: red;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.task-input {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
}

.add-task {
    background: rgb(56, 56, 224);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 16px;
}

.task-items {
    list-style: none;
    padding: 0;
}

.task-items li {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.delete-task {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
